


/* <----------Header Section----------->  */
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

header .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

header nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo{
    width: 20rem;
}

header nav ul{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

header nav ul li{
    list-style: none;
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    color: var(--white) !important;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all 0.5s linear;
    text-transform: uppercase;
}



header nav ul li a:hover,header nav ul li a:active{
    color: var(--theme-color);
}


header .content{
    position: absolute;
    text-align: start;
    left: 7rem;
    top: 10rem;
    text-transform: capitalize;
    display: inline-block;
    padding: 7rem;
    width: 52%;
    margin-top: 3rem;
}

header .content h1{
    color: var(--white);
    text-align: start;
    line-height: 120%;
    margin-bottom: 3rem;


}

header .content h1 span{
    color: var(--theme-color);
    font-size: 6rem !important;
    font-weight: 900 !important;
}

header .content p{
    color: var(--white);
    margin-bottom: 3rem;
}


header .content a{
    text-decoration: none;
    color: var(--white);
    background-color:var(--btn-bg) ;
    border: var(--btn-bg) 0.5px solid;
    padding: 1.25rem 1.75rem;
    font-size: 1.69rem;
    border-radius: 1rem;
    font-weight: 500;
    transition: all 0.5s linear;
    text-transform: capitalize;
}

header .content a:hover{
    background-color:var(--btn-bg-hover) ;
}


/* -----------dropdown Section--------- */

header nav ul li{
    padding:3rem 0 ;
}

 .index-res li .about-dropdown{
    position: absolute;
    z-index: 999;
    top: 8.5rem;
    right: 45rem !important;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    transition: all 0.1s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-top: 4px solid rgb(243, 242, 242);
    background-color: #222222;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-bottom-right-radius: 30px 10px;
    border-bottom-left-radius: 10px 30px;
    padding: 2rem !important;
}



 .index-res li:hover>.about-dropdown{
   visibility: visible;
   opacity: 1;
   pointer-events: auto;
}

 .index-res li .about-dropdown li{
    width: 100%;
    text-align: start;
    margin: 0.5rem 0.5rem;
    padding: 0 !important;

}

 .index-res li .about-dropdown li a{
    color: rgb(237, 236, 236) !important;
    text-transform: capitalize !important;
    transition: all 0.3s linear;
}

 .index-res li .about-dropdown li a:hover{
    color: white !important;
    padding-left: 3px;
}

header nav .index-res li .roadmap-dropdown{
    position: absolute;
    z-index: 999;
    top: 8.5rem;
    right: 30rem !important;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    transition: all 0.1s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-top: 4px solid rgb(243, 242, 242);
    background-color: #222222;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-bottom-right-radius: 30px 10px;
    border-bottom-left-radius: 10px 30px;
    padding: 2rem !important;
}

header nav .index-res li:hover>.roadmap-dropdown{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

header nav .index-res li .roadmap-dropdown li{
    width: 100%;
    text-align: start;
    margin: 0.5rem 0.5rem;
    padding: 0 !important;
}

header nav .index-res li .roadmap-dropdown li a{
    color: rgb(237, 236, 236) !important;
    text-transform: capitalize !important;
    transition: all 0.3s linear;
}

header nav .index-res li .roadmap-dropdown li a:hover{
    color: white !important;
   padding-left: 3px;
}



/* ----line hover-----  */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .scrollremove{
    overflow-x: hidden;
    overflow-y: hidden;
}




/* --------------scrollbar------------ */

::-webkit-scrollbar{
    width: 1.2rem;
}

::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color:rgb(141, 141, 141) ;
    border-radius: 1rem;
    border: .1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(105, 104, 104);
}




