* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
  

}

body{
overflow-x: hidden;
}

h1 {
    font-size: 5.3rem;
    font-weight: 800;
}

a{
    line-height: 1.35;
    word-spacing: 0.2rem;
    letter-spacing: 0.0625rem;
    font-family: 'Inter', sans-serif;
    display: inline-block;

}


p{
    font-size: 1.5rem;
}


:root {
    --theme-color: #25AAE2;
    --background-color: #333e4f;
    --white: rgb(255, 255, 255);
    --black:rgb(11, 11, 11);
    --btn-bg:#138cc1;
    --btn-bg-hover:#3692b9;
}
